name: Orchestrator Prod

on:
  workflow_run:
    workflows: ["Orchestrator Test"]
    types: [completed]
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  python:
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch' }}
    uses: ./.github/workflows/python-prd.yml
    secrets: inherit

  terraform:
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch' }}
    needs: [python]
    uses: ./.github/workflows/terraform-prd.yml
    secrets: inherit

