name: Orchestrator Prod

on:
  workflow_run:
    workflows: ["Orchestrator Test"]
    types: [completed]
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  call-python-prd:
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch' }}
    uses: ./.github/workflows/python-prd.yml

  call-terraform-prd:
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch' }}
    needs: [call-python-prd]
    uses: ./.github/workflows/terraform-prd.yml

