name: Orchestrator Test

on:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  python:
    uses: ./.github/workflows/python-test.yml
    secrets: inherit

  terraform:
    needs: [python]
    uses: ./.github/workflows/terraform-test.yml
    secrets: inherit

