name: Orchestrator Dev

on:
  push:
    branches: [develop]
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  python:
    uses: ./.github/workflows/python-dev.yml
    secrets: inherit

  terraform:
    needs: [python]
    uses: ./.github/workflows/terraform-dev.yml
    secrets: inherit

